.admin-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

    nav {
        ul {
            display: flex;
            list-style: none;
            height: 100%;

            a {
                background-color: white;
                border: solid $adminBorderColor 1px;
                border-radius: $adminBorderRadius;
                color: black;
                font-family: var(--primary-font);
                text-decoration: none;
                margin: 0 0.5rem;
                padding: 0.5rem;
                transition: $adminButtonsTransition;

                &:hover {
                    background-color: $adminBorderColor;
                }
            }
        }
    }
}
