{% extends 'admin/base.html.twig' %}

{% block title %}Editer un utilisateur{% endblock %}

{% block admin_body %}
    <h1>Editer un utilisateur</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_admin_user_index') }}">Retour</a>

    {% if app.user.id != user.id %}
		{{ include('admin/user/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
