{% extends 'base.html.twig' %}

{% block title %}
	Legal Mentions -
	{{parent()}}
{% endblock %}

{% block content %}
	<main>
		<div class="container2">
			<h1>Mentions Legales</h1>
			<p>Nous sommes une société éditrice de logiciels basée à New York;
				<br>spécialisée dans les jeux videos en ligne et la promotion du
				<br>
				Label Arc En Ciel.
			</p>

			<p>YellowGreenTeam Corporate
				<br>
				3458 5th Avenue
				<br>
				New York City
				<br>United States</p>


			<p>Representant Legal : M. Marco Thomas</p>
			<p>EIN : Registered NY 07-3254789</p>
		</div>
	</main>
{% endblock %}
{% block javascript %}
	{{parent()}}
{% endblock %}
