<header>
	<nav>
		<ul>
			<li>
                <a href="{{ path('app_admin_attack_index') }}">
                    Attaques
                </a>
            </li>
            <li>
                <a href="{{ path('app_admin_unicorn_index') }}">
                    Licornes
                </a>
            </li>
		</ul>
	</nav>
</header>
