<header>
	<nav>
		<ul>
			<li>
                <a href="{{ path('app_admin_attack_index') }}">
                    Attaques
                </a>
            </li>
            <li>
                <a href="{{ path('app_admin_unicorn_index') }}">
                    Licornes
                </a>
            </li>
            <li>
                <a href="{{ path('app_admin_user_index') }}">
                    Utilisateurs
                </a>
            </li>
            <li>
                <a href="{{ path('app_admin_admin_index') }}">
                    Administrateurs
                </a>
            </li>
		</ul>
	</nav>
</header>
