{% extends "base.html.twig" %}

{% block body %}
	<div class="admin-container">
		{% include "admin/_header.html.twig" %}
		<main>
			{% block admin_body %}{% endblock %}
		</main>
	</div>
{% endblock %}
