{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle licorne{% endblock %}

{% block admin_body %}
    <h1>Créer une licorne</h1>

    {{ include('admin/unicorn/_form.html.twig') }}

    <a href="{{ path('app_admin_unicorn_index') }}">Retour</a>
{% endblock %}
