main.about h1 {
    text-align: center;
    color: var(--primary-color);
    text-shadow: 1px 1px 1px red;
    font-family: var(--primary-font);
}

section.dev {
    margin: auto;
    width: 90%;
}

section.dev ul {
    list-style-type: none;
    padding-left: 0%;
}

section.dev ul {
    display: flex;
    flex-direction: row;
    font-size: 1.9vw;
}

section.dev ul p {
    font-family: var(--secondary-font);
    text-align: center;
}

section.dev ul li {
    width: 20%;
    height: 20%;
}

img.picture {
    width: 90%;
    height: 100%;
    border-radius: 20%;
    object-fit: cover;
}

section.dev ul li {
    transition: transform 500ms ease-in-out;
}

section.dev ul li:hover {

    font-style: bold;
    text-shadow: 1px 1px 1px red;
    transform: scale(1.2);
}


section.dev ul li div {
    display: flex;
    flex-direction: row-reverse;
}

section.dev ul li div a:last-of-type {
    margin-right: 10px;
}

img.social {
    width: 3vw;
    max-width: 20px;
}

.dev div {
    margin-right: 10%;
}

@media screen and (max-width: 768px) {
    section.dev ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 4vw;
    }

    section.dev ul li {
        width: 55%;
        height: 40%;
    }

    img.social {
        width: 5vw;
    }
}