.globalFooter {
    display: flex;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #facfcf;
    color: #db6464;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    font-family: var(--primary-font);
    position: absolute;
}

.globalFooter a {
    color: inherit;
    text-decoration: inherit;
}
