//start coding by removing this file and adding yours ;)
@import "index";
@import "style";
@import "wcs";
@import "style.scss";
@import "header.scss";
@import "footer.scss";
@import "ranking.scss";
@import "rules.scss";
@import "login.scss";
@import "userForm.scss";

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div {
    width : 60%;
    margin-bottom : 2%;
}

form div input,
form div textarea
{
    width: 100%;
}

