.rule-title {
    text-align: center;
    color: var(--primary-color);
    -webkit-text-stroke: 0.5px rgba(121, 10, 77, 1);
    font-family: var(--primary-font);
}

.rules {
    padding-left: 0;
}

.rule {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem 1rem 2rem;
}

.rule-image {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rule-paragraphs {
    width: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.rule-paragraphs p {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 20px;
    margin: 30px 0;
}

.endgame p {
    text-align: center;
}

.rule-image .unicornVS {
    height: 100%;
    width: 100%;
}

.rule-image .unicorn-card {
    height: 380px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
}

.rule-image .unicorn-walking {
    height: 300px;
}

.rule-title {
    color: var(--primary-color);
    -webkit-text-stroke: 0.5px rgba(121, 10, 77, 1);
    /* changed 2px to 0.5px */
    font-family: var(--primary-font);
}

.rule p {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 20px;
    margin: 30px 0;
}

.rule-button {
    text-align: center;
    margin: 2rem 0;
}

.rule-button .button-play {
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 15px 30px;
    margin: 0;
    border-radius: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
}

#card-flip {
    pointer-events: none;
}

.blink-paragraph {
    display: none;
    -webkit-text-stroke: 0.5px rgba(121, 10, 77, 1);
}

/* Responsive */

@media screen and (max-width: 600px) {
    .rule {
        margin: 0 1rem 1rem 1rem;
        flex-direction: column;
    }

    .rule-paragraphs {
        width: 80%;
    }

    .rule-image {
        display: none;
    }

    .rule-image.unicorn-show p {
        margin: 1rem;
    }

    .rule p {
        text-align: center;
    }

    .unicorn-show {
        display: flex;
    }

    #paragraphs-flip {
        display: none;
    }

    #card-flip {
        pointer-events: auto;
    }

    .blink-paragraph {
        display: flex;
        font-weight: 800;
        animation: blinker 1.5s linear infinite;
        font-family: sans-serif;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
}

/* Animations */

.flip-2-ver-right-2 {
    -webkit-animation: flip-2-ver-right-2 0.5s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: flip-2-ver-right-2 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}

.flip-2-ver-left-2 {
    -webkit-animation: flip-2-ver-left-2 0.5s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: flip-2-ver-left-2 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-26 10:59:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-2-ver-right-2
 * ----------------------------------------
 */

@-webkit-keyframes flip-2-ver-right-2 {
    0% {
        -webkit-transform: translateX(0) rotateY(0);
        transform: translateX(0) rotateY(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: translateX(0%) rotateY(360deg);
        transform: translateX(0) rotateY(360deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}

@keyframes flip-2-ver-right-2 {
    0% {
        -webkit-transform: translateX(0) rotateY(0);
        transform: translateX(0) rotateY(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: translateX(0) rotateY(360deg);
        transform: translateX(0) rotateY(360deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}
