{% extends 'admin/base.html.twig' %}

{% block title %}Editer les attaques{% endblock %}

{% block admin_body %}
    <h1>Editer une attaque</h1>

    {{ include('admin/attack/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_admin_attack_index') }}">back to list</a>

    {{ include('admin/attack/_delete_form.html.twig') }}
{% endblock %}
