{% extends 'base.html.twig' %}

{% block title %}Edit Attack{% endblock %}

{% block body %}
    <h1>Edit Attack</h1>

    {{ include('admin/attack/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_attack_index') }}">back to list</a>

    {{ include('admin/attack/_delete_form.html.twig') }}
{% endblock %}
