{% extends 'base.html.twig' %}

{% block title %}New Attack{% endblock %}

{% block body %}
    <h1>Create new Attack</h1>

    {{ include('admin/attack/_form.html.twig') }}

    <a href="{{ path('app_admin_attack_index') }}">back to list</a>
{% endblock %}
