{% block content %}
	{% from "component/_user_avatar.html.twig" import user_avatar %}

	{% set opponentAvatar = app.session.get('opponentAvatar') %}

	<div class="versus">
		{{ user_avatar(app.user) }}
		<div class="versus-image">
			<img src="{{ asset('build/images/versus.png')}}" alt="Versus" class="userPic">
		</div>
		<img src="{{ asset('images/' ~ opponentAvatar)}}" alt="" class="userPic">


	</div>
{% endblock %}
