{% block content %}
	<section class="formSection">
		<form method="post" enctype="multipart/form-data">
			<h2>Modifier mes infos</h2>

			{{ form_start(form) }}
			<div class="show-errors">
				{{ form_errors(form) }}
			</div>
			{{form_widget(form)}}
			<div class="modalButtons">
				<button type="submit" class="redButton">Enregistrer</button><br>
				<button type="submit" class="cancelButton">Abandon</button>
			</div>
			{{ form_end(form) }}
		</form>
	</section>
{% endblock %}
