{% extends 'base.html.twig' %}

{% block title %}
	- Edit User
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('confirmModale') }}
	{{ encore_entry_script_tags('formModale') }}
{% endblock %}


{% block body %}
	{% block content %}
		<main>
			<div class="modal-content">
				{% include 'user/_editUserForm.html.twig' %}
			</div>
		</main>

	{% endblock %}

{% endblock %}
