{% extends 'base.html.twig' %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="/assets/css/show.css">
	<link rel="stylesheet" href="/assets/css/userForm.css">
{% endblock %}

{% block title %}
	Edit Profile -
	{{ parent() }}
{% endblock %}

{% block content %}
	<main>
		<div class="modal-content">
			{% include 'User/_editUserForm.html.twig' %}
		</div>
	</main>

{% endblock %}

{% block javascript %}
	<script type="application/javascript" src="/assets/js/profilePic.js"></script>
{% endblock %}
